<?php require_once __DIR__ . "/inc/header.html"; ?>
        <?php require_once __DIR__ . "/inc/search.html"; ?>
    </nav>
        <?php if (!empty($notify) == Notifications::NOTIFY_REGISTERED): ?>
            <p>Поздравляем с успешной регистрацией!</p>
        <?php endif; ?>
            <!--Если студент что-то ищет в поисковой форме-->
        <?php if (!empty($search)): ?>
            <p>Показаны только абитуриенты, найденные по запросу "<?=htmlspecialchars($search, ENT_QUOTES)?>".</p>
                <?php if (empty($abiturients)): ?>
                    <p>Ничего не найдено!</p>
                <?php endif; ?>
        <!--Если в бд нету записей-->
        <?php elseif ($numberOfAbiturients == 0): ?>
            <p>Список пуст, пока что..</p>
        <!--Если абитуриент не получил список (ввел page=235 при меньшем количестве страниц)-->
        <?php elseif (empty($abiturients)): ?>
            <p>Страница не найдена!</p>
            <p><a href="<?=htmlspeacialchars($indexHref, ENT_QUORES)?>">Показать всех абитуриентов.</a></p>
        <?php endif; ?>
        <?php if (!empty($abiturients)): ?>
            <table class="table table-bordered table-hover">
                <?php if (!empty($abiturients)): ?>
                    <tr>
                        <th>
                            <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'name', $myPage, 'desc'), ENT_QUOTES)?>">Имя</a>
                            <?php if ($sort == "name"): ?>
                                <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'name', $myPage, ViewHelper::changeOrder($order)), ENT_QUOTES)?>"><?=ViewHelper::getSymbolForOrder($order)?></a>
                            <?php endif; ?>
                        </th>
                        <th>
                            <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'surname', $myPage, 'desc'), ENT_QUOTES)?>">Фамилия</a>
                            <?php if ($sort == "surname"): ?>
                                <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'surname', $myPage, ViewHelper::changeOrder($order)), ENT_QUOTES)?>"><?=ViewHelper::getSymbolForOrder($order)?></a>
                            <?php endif; ?>
                        </th>
                        <th>
                            <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'groupNumber', $myPage, 'desc'), ENT_QUOTES)?>">Номер группы</a>
                            <?php if ($sort == "groupNumber"): ?>
                                <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'groupNumber', $myPage, ViewHelper::changeOrder($order)), ENT_QUOTES)?>"><?=ViewHelper::getSymbolForOrder($order)?></a>
                            <?php endif; ?>
                        </th>
                        <th>
                            <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'points', $myPage, 'desc'), ENT_QUOTES)?>">Баллы</a>
                            <?php if ($sort == "points"): ?>
                                <a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, 'points', $myPage, ViewHelper::changeOrder($order)), ENT_QUOTES)?>"> <?=ViewHelper::getSymbolForOrder($order)?></a>
                            <?php endif; ?>
                        </th>
                    </tr>
                <?php endif; ?>
                <?php foreach($abiturients as $abiturient): ?>
                    <tr>
                        <td><?=ViewHelper::paintFound($abiturient->getName(),        $search)?></td>
                        <td><?=ViewHelper::paintFound($abiturient->getSurname(),     $search)?></td>
                        <td><?=ViewHelper::paintFound($abiturient->getGroupNumber(), $search)?></td>
                        <td><?=ViewHelper::paintFound($abiturient->getPoints(),      $search)?></td>
                    </tr>
                <?php endforeach; ?>
            </table>
        <?php endif; ?>
        <?php if (!empty($search)): ?>
            <p><a href="<?=htmlspecialchars($indexHref, ENT_QUOTES)?>">Показать всех абитуриентов.</a></p>
        <?php endif; ?>
        <!--Если страниц больше одной - нужна постраничная навигация-->
        <?php if($pager->getTotalPages() > 1 && $pager->checkPossiblePages($myPage)): ?>
            <div>Страницы:</div>
            <ul class = "nav nav-pills">
                <?php for ($pageNum = 1; $pageNum <= $pager->getTotalPages(); $pageNum++): ?>
                    <?php if ($pageNum == $myPage): ?>
                        <li class="active"><a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, $sort, $pageNum, $order), ENT_QUOTES)?>"><?=$pageNum?></a></li>
                    <?php elseif (in_array($pageNum, $visiblePages)): ?>
                        <li><a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, $sort, $pageNum, $order), ENT_QUOTES)?>"><?=$pageNum?></a></li>
                    <!--Если находимся на первой странице-->
                    <?php elseif ($pageNum == 1): ?>
                        <li><a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, $sort, $pageNum, $order), ENT_QUOTES)?>">Первая</a></li>
                    <!--Если находимся на последней странице-->
                    <?php elseif ($pageNum == $pager->getTotalPages()): ?>
                        <li><a href="<?=htmlspecialchars(ViewHelper::getSortedLink($search, $sort, $pager->getTotalPages(), $order), ENT_QUOTES)?>">Последняя</a></li>
                    <?php endif; ?>
                <?php endfor; ?>
            </ul>
        <?php endif; ?>
<?php require_once __DIR__ . "/inc/footer.html"; ?>
